@import "../constants.css";

.topPublicationsContainer__title {
    padding: 20px;
    margin-left: 10px;
    font-family: var(--font-primary);
}

.topPublicationsContainer__grid {
    padding: 20px;
}

.publicationSummary {
    width: 100%;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.publicationSummary:hover {
    transform: scale(1.04);
}

.publicationSummary > img {
    width: 100%;
}

.publicationSummary__top {
    display: flex;
    padding: 15px;
    align-items: center;
}

.publicationSummary__top > .MuiAvatar-root {
    position: static; /*Esto arregló que se viera encima del Header */
}

.publicationSummary__topInfo {
    margin-left: 5px;
}

.publicationSummary__topInfo > h3 {
    font-size: medium;
    font-family: var(--font-primary);
}

.publicationSummary__topInfo > p {
    font-size: small;
    color: gray;
    font-family: var(--font-primary);
}

.publicationSummary__center {
    padding: 15px;
}

.publicationSummary__center > h3 {
    font-family: var(--font-primary);
}

.publicationSummary__center > p {
    font-family: var(--font-primary);
    color: gray;
    font-size: small;
    margin-top: 5px;
}

.publicationSummary__bottom {
    display: flex;
    margin: 1em;
    padding: 10px;
}

.publicationSummary__bottomViews {
    display: flex;
}

.publicationSummary__bottomViews > .MuiSvgIcon-root {
    color: gray;
    font-size: medium;
}

.publicationSummary__bottomViews > p {
    font-family: var(--font-primary);
    color: gray;
    font-size: small;
    margin-left: 5px;
}

.publicationSummary__bottomIcon {
    margin-left: auto;
}

.publicationSummary__bottomIcon > .MuiIconButton-root {
    position: static; /*Esto arregló que se viera encima del Header */
}

.topPublicationsContainer__option {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.topPublicationsContainer__option .MuiButton-root{
    position: static; /*Esto arregló que se viera encima del Header */
}