@import "../constants.css";

.about__image {
    width: 100%;
}

.about__title {
    text-align: center;
    font-family: var(--font-primary);
    padding: 20px;
    padding-bottom: 0;
    margin-top: 20px;
}

.about__content {
    text-align: center;
    font-family: var(--font-primary);
    padding: 40px;
}

.about__content > p {
    padding: 5px;
}